{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
    </h3>
    <p>
        En la Sección 6 verás una sopa de letras por {{ Constants.word_puzzle_seconds }} segundos.
    <p>
    <p>
        Una vez que pasen los {{ Constants.word_puzzle_seconds }} segundos, la sopa de letras desaparecerá.
    </p>
    <p>
        Debes encontrar palabras en español que tengan 4 o más letras. Las palabras
        pueden estar en dirección horizontal, vertical, o diagonal, y al derecho o al revés.
    </p>
    <p>
        Luego de los {{ Constants.word_puzzle_seconds }} segundos deberás indicar cuántas palabras en español de
        4 o más letras lograste encontrar. No tendrás que decir cuáles, sino solo cuántas encontraste.
    </p>
    <p>
        Obtendrás 1 punto por cada palabra válida que encuentres.
    </p>
    <p>
        Presiona el botón para empezar.
    </p>
</div>